name: Test Unit

on:
  pull_request:
    branches:
      - '*'

env:
  GO_VERSION: "1.22"

jobs:
  test-unit:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: make
        run: |
          make ci
          git diff --exit-code
